* {
  margin:0;
  padding:0;
  text-decoration: none;
}

body {
  max-width: 2560px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(73, 78, 95);
}

main {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
}

p {
  color: white;
}

a {
  color: white;
}

h1 {
  font-size: 22px;
  font-weight: 100;
  color: white;
}

h2 {
  color: rgb(255, 251, 212);
  font-size: 26px;
}

h3 {
  color: rgb(255, 231, 212);
  font-size: 32px;
}


